---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Biografy from '../components/Biografy.astro';
import Beatification from '../components/beatification.astro';
import Legacy from '../components/Legacy.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div  class="w-full min-h-screen flex flex-col gap-32">
		<Welcome />
		<Biografy />
		<Beatification />
		<Legacy />
	</div>
</Layout>
