---
import logo from '../assets/logo.png';
---


<nav class="p-4 bg-[#13151a] flex flex-row justify-between items-center">
    <div class="flex items-center space-x-2">
        <img src={logo.src} class="w-12 rounded-full object-cover" alt="">
        <span class="text-white font-semibold text-lg">José Gregorio Hernández</span>
    </div>

  <ul class="flex space-x-4">
    <li><a href="/" class="text-white hover:text-gray-400">Inicio</a></li>
    <li><a href="/about" class="text-white hover:text-gray-400">Biografia</a></li>
    <li><a href="/contact" class="text-white hover:text-gray-400">Legado</a></li>
    <li><a href="/childhood" class="text-white hover:text-gray-400">Beatificación</a></li>
    <!-- <li><a href="/projects" class="text-white hover:text-gray-400">Galeria</a></li> -->
  </ul>
</nav>