---
import MotionImg from './MotionImg';
import MotionText from './MotionText.jsx';
---

<div class="relative w-full h-screen">
	<div class="inset-0 flex items-center justify-center gap-4">
		<MotionText client:load />
		<MotionImg client:load />
	</div>
	
</div>