---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
---



<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Jose Gregorio Hernandez</title>
	</head>
	<body class="w-full min-h-screen flex flex-col">
		<Navbar />
		<main class="flex-1 w-full">
			<slot />
		</main>
		<!-- <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
		<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				if (typeof AOS !== 'undefined') AOS.init();
			});
		</script> -->
	</body>
</html>

<style>
	html{
		background: #13151a;
		color: #fff;
	}
</style>
